@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
  .view{
    @apply align-middle text-center 
  }
  
    .icon{
        @apply hidden xl:inline-flex p-2 h-10 w-10 
        bg-purple-100 rounded-full cursor-pointer
        shadow-sm highlight
    }
    .surround{
      @apply rounded-xl shadow-xl justify-center shadow-red-500 border-red-500 border-x-2 border-y-2 dark:border-yellow-300 dark:shadow-yellow-200
    }
    .pad{
      @apply xl:px-20 lg:px-16 md:px-14 sm:px-10
    }
    .hovers{
        @apply hover:scale-95 hover:shadow-xl
    }
    .yellow-black-text{
      @apply dark:text-yellow-300 text-black
    }
    .text{
      @apply text-sm md:text-lg lg:text-xl xl:text-2xl sm:tracking-wider tracking-wide 
      font-merienda font-thin 
    }
    .heading{
      @apply font-merienda text-white dark:text-red-500 text-2xl sm:text-3xl text-center  sm:tracking-wider tracking-wide p-6
    }
    .lighten{
      @apply bg-white rounded-3xl px-4 dark:bg-gray-600
    }
  
   
    .themed{
      @apply bg-yellow-300 dark:bg-gray-700
    }
     .cardtext{
      @apply text-white dark:text-red-500 text
    }
    .extras{
      @apply transition ease-in-out delay-150 bg-yellow-300 hover:-translate-y-1 hover:scale-110 hover:bg-yellow-400 duration-300
    }
 

    .highlight{
        @apply hovers hover:text-blue-400 hover:bg-white shadow-blue-300
    }
    
    .headericon{
        @apply justify-center h-5 group-hover:text-blue-400 text-center
     text-gray-500 md:h-5
    }
  .btn {
    @apply absolute top-14 right-0 border-none bg-gray-400 w-4 h-4 border-green-400 rounded-full flex justify-center items-center cursor-pointer -translate-x-1/2 text-lg;
  }
  
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "merienda";
  src: url("../public/assets/merienda_black.ttf");
}




















@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
  
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    width:200px;
  }
}
}